	<div class='col-sm-4'>
		<h3>Hello!</h3>
		<p>This is a sample application.</p>
		<p>It uses the minimalist Sinatra Framework and black magic. Just kidding, it is only black magic.</p>
	</div>

	<div class='col-sm-4'>
		<h3>Login</h3>
		<p>To read my secrets you must be authenticated.
		<p>Did you see LOTR? 'Say friend and enter.'
		<br>
		<form action='/login' method='post'>
			<p>user: <input name='login' type='text'>
			<p>pass: <input name='password' type='password'>
			<p><input name='submit' type='submit' value='login'>
		</form>
	</div>

	<div class='col-sm-4'>
		<h3>Nothing else</h3>        
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
		<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
	</div>

